.container {
	margin: auto;
	max-width: 20%;
}
.title {
	font-size: 30px;
	font-family: 'Libre Baskerville', serif;
}
.artist {
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	font-style: oblique;
}
.text {
	font-size: 15px;
	font-family: 'Inter', sans-serif;
}
.description {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
}
span {
	font-style: oblique;
}